// Bootstrap overrides for this template
a {
  color: theme-color("primary");
  &:focus,
  &:hover,
  &:active {
    color: darken(theme-color("primary"), 10%);
  }
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: theme-color("primary") !important;
}

.bg-secondary {
  background-color: theme-color("secondary") !important;
}

.text-primary {
  color: theme-color("primary") !important;
}

.text-secondary {
  color: theme-color("secondary") !important;
}

.btn-primary {
  background-color: theme-color("primary");
  border-color: theme-color("primary");
  &:hover,
  &:focus,
  &:active {
    background-color: darken(theme-color("primary"), 10%);
    border-color: darken(theme-color("primary"), 10%);
  }
}

.btn-secondary {
  background-color: theme-color("secondary");
  border-color: theme-color("secondary");
  &:hover,
  &:focus,
  &:active {
    background-color: darken(theme-color("secondary"), 10%);
    border-color: darken(theme-color("secondary"), 10%);
  }
}

.modal-body {
    padding: 4rem 1rem;
}
