.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: theme-color("secondary");
  color: $white;
}

.copyright {
  background-color: darken(theme-color("secondary"), 10%);
  .made-with {
    span {
      vertical-align: middle;
    }
    a {
      color: $white;
      font-size: 2rem;
      vertical-align: middle;
    }
  }
}

#footer-nav {
  a {
    color: $white;
  }
}
