@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/LeagueSpartan-Bold.otf') format('openfont'),
       url('/fonts/LeagueSpartan-Bold.woff2') format('woff2'),
       url('/fonts/LeagueSpartan-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

section {
  padding: 6rem 0;
  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2.25rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
  a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: fade-out($gray-900, 0.5);
    line-height: 3.1rem;
  }
}

[role=button] {
  cursor: pointer;
}
