header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.3rem;
    @include body-font;
  }
  .profile-img {
    position: relative;
    width: 300px;
    max-width: 100%;
    border-radius: 50%;
    margin: 0 auto -3rem;
    border-top: 230px solid #2C3E50;
    border-bottom: 70px solid transparent;
    img {
        position: absolute;
        top: 0;
        left: 50%;
        width: 74%;
        height: auto;
        margin: auto;
        transform: translate(-50%, -100%);
    }
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
    h1 {
      font-size: 4.75em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
    }
  }
}
