.portfolio {
  margin-bottom: -30px;
  .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 30px;
    border-radius: $border-radius;
    overflow: hidden;
    .portfolio-item-caption {
      position: absolute;
      top: 0;
      left: 0;
      transition: $transition-base;
      opacity: 0;
      background-color: fade-out(theme-color("primary"), .1);
      z-index: 9;
      &:hover {
        opacity: 1;
      }
      .portfolio-item-caption-content {
        font-size: 1.5rem;
      }
    }
    .portfolio-item-no-img {
      position: relative;
      background-color: theme-color("secondary");
      color: $white;
      width: 100%;
      padding-top: 72.3%;
      text-align: center;
      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: auto;
        transform: translate(-50%, -50%);
        width: 90%;
        z-index: 1;
      }
    }
  }
}

.portfolio-modal {
  color: $black;
  .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2.25rem;
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
  .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    color: theme-color("primary");
    opacity: 1;
  }
}
