#skills-carousel {
  .carousel-indicators {
    top: 0;
    bottom: initial;

    li {
      border: 0;
      background-color: transparent;
      text-indent: 0;
      width: 50px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      margin-right: 8px;
      margin-left: 8px;
      padding-top: 8px;
      padding-bottom: 8px;

      i {
        font-size: 40px;
        color: $black;
        transition: color 0.6s ease;
      }
    }
  }

  .carousel-inner {
    padding-top: 72px;
    padding-top: calc(56px + 1rem);
  }

  .carousel-item {
    padding: 15px;
    text-align: center;
  }

  .active {
    .fa-php {
      color: #787CB5!important;
    }

    .fa-laravel {
      color: #F05340!important;
    }

    .fa-html5 {
      color: #E44D26!important;
    }

    .fa-css3-alt {
      color: #264DE4!important;
    }

    .fa-js {
      color: #F0DB4F!important;
    }

    .fa-vuejs {
      color: #42B883!important;
    }

    .fa-git {
      color: #F34F29!important;
    }
  }
}
