$body-bg: #E8E8E8;

$theme-colors: (
    "primary": #036564,
    "secondary": #033649
);

$headings-font-weight: 700 !default;

$border-width: 0.125rem !default;
$border-radius: 0.5rem !default;
$border-radius-lg: 0.75rem !default;
$border-radius-sm: 0.25rem !default;

$input-btn-border-width: $border-width !default;

$modal-inner-padding: 4rem 1rem !default;
$modal-content-border-width: 0 !default;
