<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <meta name="description" content="Ethan Heitman Web Development Portfolio - Get information about Ethan Heitman and his various projects.">
    <meta name="author" content="Ethan Heitman">
    <title>Ethan Heitman | Web Development</title>

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
</head>
<body>
    <noscript>
        <strong>I'm sorry but this website doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <i class="fa fa-star"></i>
    <div id="app"></div>
</body>
</html>
