<template>
    <section class="page-section mb-0" id="about">
        <div class="container">
            <h3 class="text-center text-uppercase">Hi, I'm Ethan.</h3>
            <div class="text-center mt-4">
                <p v-for="paragraph in about" class="lead" v-html="paragraph"></p>
            </div>
        </div>
    </section>
</template>
<script>
    import About from '../../content/about'

    export default {
        data () {
            return {
                about: About
            }
        }
    }
</script>
