<template>
    <section id="contact" class="page-section">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary page-section-heading mb-0">Contact Me</h2>
            <divider-line></divider-line>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form name="sent_message" id="contact-form" novalidate="novalidate" @submit.prevent="submitForm">
                        <floating-label-form-group label="Name" :errorMsg="errors.first('name')">
                            <input
                                name="name"
                                class="form-control"
                                type="text"
                                placeholder="Name"
                                v-validate="'required'"
                                v-model="form.name"
                            >
                        </floating-label-form-group>
                        <floating-label-form-group label="Email Address" :errorMsg="errors.first('email')">
                            <input
                                name="email"
                                class="form-control"
                                type="email"
                                placeholder="Email"
                                v-validate="'required|email'"
                                v-model="form.email"
                            >
                        </floating-label-form-group>
                        <floating-label-form-group label="Phone Number" :errorMsg="errors.first('phone')">
                            <input
                                name="phone"
                                class="form-control"
                                type="tel"
                                placeholder="Phone"
                                required="required"
                                v-validate="'required'"
                                v-model="form.phone"
                            >
                        </floating-label-form-group>
                        <floating-label-form-group label="Message" :errorMsg="errors.first('message')">
                            <textarea
                                name="message"
                                class="form-control"
                                type="textarea"
                                placeholder="Message"
                                rows="5"
                                v-validate="'required'"
                                v-model="form.message"
                            ></textarea>
                        </floating-label-form-group>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-xl">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <contact-modal ref="modal"></contact-modal>
    </section>
</template>
<script>
    import FloatingLabelFormGroup from '../FloatingLabelFormGroup.vue'
    import ContactModal from '../ContactModal.vue'

    export default {
        components: {
            FloatingLabelFormGroup,
            ContactModal
        },
        data () {
            return {
                form: {
                    name: '',
                    email: '',
                    phone: '',
                    message: ''
                }
            }
        },
        methods: {
            submitForm () {
                this.$validator.validate().then(valid => {
                    if (! valid) {
                        return
                    }

                    this.$http.post('/contact.php', this.getFormData())
                        .then(() => {
                            this.$refs.modal.success()
                            this.clearForm()
                        })
                        .catch(() => this.$refs.modal.error())
                })
            },
            getFormData () {
                let form = new FormData();

                for (var k in this.$data.form) {
                    form.append(k, this.$data.form[k])
                }

                return form
            },
            clearForm () {
                this.$data.form = {
                    name: '',
                    email: '',
                    phone: '',
                    message: ''
                }
                setTimeout(() => {
                    this.errors.clear()
                }, 50)
            }
        }
    }
</script>
