<template>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Menu</h3>
                    <b-nav class="navbar bg-secondary text-uppercase" id="footer-nav" v-b-scrollspy>
                        <div class="container">
                            <div class="navbar-collapse" id="navbar-footer">
                                <ul class="navbar-nav ml-auto">
                                    <b-nav-item class="mx-0 mx-lg-1" href="#about" link-classes="py-3 px-0 px-lg-3">About</b-nav-item>
                                    <b-nav-item class="mx-0 mx-lg-1" href="#portfolio" link-classes="py-3 px-0 px-lg-3">Portfolio</b-nav-item>
                                    <b-nav-item class="mx-0 mx-lg-1" href="#contact" link-classes="py-3 px-0 px-lg-3">Contact</b-nav-item>
                                </ul>
                            </div>
                        </div>
                    </b-nav>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h3>Online</h3>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" href="https://www.linkedin.com/in/ethanheitman/" title="LinkedIn">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" href="https://github.com/ethanheitman" title="GitHub">
                                <i class="fab fa-github-alt"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" href="https://gitlab.com/eheitman" title="GitLab">
                                <i class="fab fa-gitlab"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h3>Offline</h3>
                    <p class="lead mb-0">Long Beach, CA 90807</p>
                </div>
            </div>
        </div>
    </footer>
</template>
<script>
    
</script>
