<template>
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <div class="profile-img">
                <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.svg" alt="Me!" title="avatarmaker.com">
            </div>
            <h1 class="text-uppercase mb-0">Ethan Heitman</h1>
            <divider-line class="divider-light"></divider-line>
            <h2 class="font-weight-light mb-0">Full-Stack Web &mdash; Software &mdash; API</h2>
        </div>
    </header>
</template>
<script>
    
</script>
