<template>
    <b-nav pills class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" :class="{ 'navbar-shrink': offset > 100 }" id="main-nav" v-b-scrollspy>
        <div class="container">
            <a class="navbar-brand" role="button" href="#app" @click="menuItemClick">Ethan Heitman</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbar-responsive" aria-controls="navbar-responsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar-responsive">
                <ul class="navbar-nav ml-auto">
                    <b-nav-item class="mx-0 mx-lg-1" href="#about" link-classes="py-3 px-3" @click="menuItemClick">About</b-nav-item>
                    <b-nav-item class="mx-0 mx-lg-1" href="#portfolio" link-classes="py-3 px-3" @click="menuItemClick">Portfolio</b-nav-item>
                    <b-nav-item class="mx-0 mx-lg-1" href="#contact" link-classes="py-3 px-3" @click="menuItemClick">Contact</b-nav-item>
                </ul>
            </div>
        </div>
    </b-nav>
</template>
<script>
    export default {
        data () {
            return {
                offset: 0
            }
        },
        created () {
            window.addEventListener('scroll', this.handleScroll)
        },
        destroyed () {
            window.removeEventListener('scroll', this.handleScroll)
        },
        methods: {
            handleScroll () {
                this.offset = $(this.$el).offset().top
            },
            menuItemClick (e) {
                let el = this.findTargetElement(e.target.href)                

                if (! el) {
                    return
                }

                this.smoothScroll(el)
                this.collapseNav()
            },
            findTargetElement (href) {
                if (typeof href === 'undefined') {
                    return
                }

                return $(href.slice(href.indexOf('#')))
            },
            smoothScroll (target) {
                $('html, body').animate({
                    scrollTop: target.offset().top
                }, 1000, 'easeInOutExpo')
            },
            collapseNav () {
                $('.navbar-collapse').collapse('hide')
            }
        }
    }
</script>
