<template>
    <section class="bg-primary text-white page-section portfolio" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-white page-section-heading mb-0">My Recent Work</h2>
            <divider-line class="divider-light"></divider-line>
            <div class="row">
                <portfolio-item
                    class="col-md-6 col-lg-4"
                    v-for="item in portfolio"
                    :id="item.id"
                    :title="item.title"
                    :imgUrl="item.img.length > 0 ? ('img/portfolio/' + item.img) : ''"
                >
                    <p v-for="paragraph in item.body" v-html="paragraph"></p>
                </portfolio-item>
            </div>
        </div>
    </section>
</template>
<script>
    import PortfolioItem from '../PortfolioItem.vue'
    import Portfolio from '../../content/portfolio'

    export default {
        components: {
            PortfolioItem
        },
        data () {
            return {
                portfolio: Portfolio || []
            }
        }
    }
</script>
