<template>
    <section class="mb-0 pt-0" id="skills">
        <div class="container">
            <div id="skills-carousel" class="carousel slide" data-ride="carousel" data-interval="10000">
                <ol class="carousel-indicators">
                    <li v-for="(skill, i) in skills" data-target="#skills-carousel" :data-slide-to="i" :class="i == 0 ? 'active' : ''">
                        <i :class="skill.icon"></i>
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div v-for="(skill, i) in skills" :class="'carousel-item' + (i == 0 ? ' active' : '')">
                        <h4>{{ skill.title }}</h4>
                        <p v-for="paragraph in skill.body" class="lead">{{ paragraph }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    import Skills from '../../content/skills'

    export default {
        data () {
            return {
                skills: Skills || []
            }
        },
        mounted () {
            $(window).on('load resize orientationchange', this.normalizeSlideHeights);
        },
        methods: {
            normalizeSlideHeights() {
                let items = document.querySelectorAll('.carousel-item')
                let max = 0

                items.forEach(i => i.style.minHeight = max)

                max = Math.max.apply(null, Array.from(items).map(i => {
                    return $(i).outerHeight()
                }))

                items.forEach(i => i.style.minHeight = max + 'px')
            }
        }
    }
</script>
