<template>
    <b-modal
        id="contact-message"
        :title="title"
        header-class="text-center"
        :header-bg-variant="headerBg"
        v-model="show"
        ok-only
    >
        <p class="text-center lead" v-html="message"></p>
    </b-modal>
</template>
<script>
    export default {
        name: 'contact-modal',
        data () {
            return {
                show: false,
                title: '',
                message: '',
                headerBg: ''
            }
        },
        methods: {
            success () {
                this.headerBg = 'success'
                this.title = 'Message sent!'
                this.message = 'Your message has been received.<br>Thanks for reaching out!'
                this.show = true
            },
            error () {
                this.headerBg = 'warning'
                this.title = 'Something went wrong!'
                this.message = 'I was unable to send your message, but your contact information has been noted and I will reach out to you as soon as I can.'
                this.show = true
            },
        }
    }
</script>
