<template>
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-hashtag"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>
</template>
<script>

</script>
