<template>
    <div class="control-group">
        <div
            ref="formGroup"
            class="form-group floating-label-form-group controls mb-0 pb-2"
            @input="inputHandler"
            @propertychange="inputHandler"
        >
            <label>{{ label }}</label>
            <slot></slot>
            <p class="help-block text-danger">{{ errorMsg }}</p>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'floating-label-form-group',
        props: {
            label: {
                type: String,
                required: true
            },
            errorMsg: {
                type: String,
                default: ''
            }
        },
        mounted () {
            let input = this.$slots.default[0].elm
            input.addEventListener('focus', this.focusHandler)
            input.addEventListener('blur', this.blurHandler)
        },
        destroyed () {
            let input = this.$slots.default[0].elm
            input.removeEventListener('focus', this.focusHandler)
            input.removeEventListener('blur', this.blurHandler)
        },
        methods: {
            inputHandler () {
                let hasVal = !!this.$refs.formGroup.querySelector('input,textarea').value
                this.$refs.formGroup.classList.toggle('floating-label-form-group-with-value', hasVal)
            },
            focusHandler () {
                this.$refs.formGroup.classList.add('floating-label-form-group-with-focus')
            },
            blurHandler () {
                this.$refs.formGroup.classList.remove('floating-label-form-group-with-focus')
            }
        }
    }    
</script>
