<template>
    <div>
        <a class="portfolio-item mx-auto" ref="btnShow" @click.prevent="showModal" :href="'#' + id">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-plus fa-3x"></i>
                    <slot name="caption"></slot>
                </div>
            </div>
            <img v-if="imgUrl" class="img-fluid" :src="imgUrl" :alt="title">
            <div v-else class="portfolio-item-no-img">
                <h3>{{ title }}</h3>
            </div>
        </a>
        <div ref="portfolio-modal" class="portfolio-modal modal fade" :id="id" tabindex="-1" role="dialog" :aria-labelledby="id + '_Label'" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="fas fa-times"></i>
                        </span>
                    </button>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h2 :id="id + '_Label'" class="portfolio-modal-title text-secondary text-uppercase text-center mb-0">{{ title }}</h2>
                                    <divider-line></divider-line>
                                    <img v-if="imgUrl" class="img-fluid rounded mb-5" :src="imgUrl" :alt="title">
                                    <slot></slot>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'portfolio-item',
        props: ['id', 'title', 'imgUrl'],
        methods: {
            showModal() {
                $(this.$refs['portfolio-modal']).modal('show')
            }
        }
    }
</script>
