<template>
    <div class="scroll-to-top d-lg-none position-fixed">
        <smooth-scroll  class="d-block text-center text-white rounded" href="#app">
            <i class="fa fa-chevron-up"></i>
        </smooth-scroll>
    </div>
</template>
<script>
    export default {
        name: 'scroll-to-top',
        created () {
            window.addEventListener('scroll', this.handleScroll)
        },
        destroyed () {
            window.removeEventListener('scroll', this.handleScroll)
        },
        methods: {
            handleScroll (e) {
                let top = $(e.target).scrollTop()

                if (top > 100) {
                    $(this.$el).fadeIn()
                } else {
                    $(this.$el).fadeOut()
                }
            }
        }
    }
</script>
