<template>
    <a @click="smoothScroll">
        <slot></slot>
    </a>
</template>
<script>
    export default {
        name: 'smooth-scroll',
        props: ['href'],
        methods: {
            smoothScroll () {
                let target = $(this.href + ',[name=' + this.href.slice(1) + ']')

                if (target.length === 0) {
                    return
                }

                $('html, body').animate({
                    scrollTop: target.eq(0).offset().top - 70
                }, 1000, 'easeInOutExpo')
            }
        }
    }
</script>
