<template>
    <div id="app">
        <navigation></navigation>
        <main-header></main-header>
        <about></about>
        <skills></skills>
        <portfolio-grid></portfolio-grid>
        <contact></contact>
        <main-footer></main-footer>

        <scroll-to-top></scroll-to-top>
        <div class="copyright py-4 text-center text-white">
            <div class="container">
                <small>Created by me &copy; {{ year }}</small>
                <div class="made-with mt-2">
                    <small>
                    <span>Made with </span>
                    <a target="_blank" href="https://vuejs.org/"><i class="fab fa-fw fa-vuejs"></i></a>
                    <span> and </span>
                    <a target="_blank" href="https://getbootstrap.com/"><i class="fab fa-fw fa-bootstrap"></i></a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Navigation from './components/Sections/Navigation.vue'
    import MainHeader from './components/Sections/MainHeader.vue'
    import MainFooter from './components/Sections/MainFooter.vue'
    import PortfolioGrid from './components/Sections/PortfolioGrid.vue'
    import About from './components/Sections/About.vue'
    import Skills from './components/Sections/Skills.vue'
    import Contact from './components/Sections/Contact.vue'
    import ScrollToTop from './components/ScrollToTop.vue'

    export default {
        name: 'app',
        components: {
            Navigation,
            MainHeader,
            MainFooter,
            PortfolioGrid,
            About,
            Skills,
            Contact,
            ScrollToTop
        },
        computed: {
            year () {
                return (new Date).getFullYear()
            }
        }
    }
</script>

<style lang="scss">
    @import 'assets/scss/app.scss'
</style>
